# Ignore system and config files
AppData/
.vscode/
*.log
*.tmp
*.lock
*.jtx
.DS_Store
Thumbs.db
*.cache
*.dat
*.ini
*.ico
*.db
*.json
*.spec
*.pyc
*.pyo
*.exe
*.dll
*.dist
*.venv/
*.env/
*.build/
*.dist/
*.Zotero/
*.anaconda/
*.conda/
*.vscode-R/
*.gradle/
*.ipython/
*.matplotlib/
*.sragui*
*.SRR*/
*.output.fastq
*.trimmed.fastq
*.ncbi_error_report.txt
*.python/
